.footerContainer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0;
}

.footerImage {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

.footerOverlay {
	position: absolute;
	bottom: 150px;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 20px;
	z-index: 1;
}

.contactLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4px;
	margin-bottom: 12px;
}

.contactLink {
	color: #000;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
	transition: opacity 0.2s;
}

.contactLink:hover {
	opacity: 0.7;
}

.contactSeparator {
	color: #000;
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.contactEmail {
	color: #000;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.contactEmail .contactLink {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}

@media (max-width: 600px) {
	.footerOverlay {
		bottom: 100px;
		padding: 30px 15px;
	}
	
	.contactLink {
		font-size: 20px;
	}
	
	.contactSeparator {
		font-size: 20px;
	}
	
	.contactEmail {
		font-size: 20px;
	}
}
